@font-face {
    font-family: rage;
    src: url(/fonts/RAGE.TTF);
}

a {
    font-weight: bold;
}

a:hover {
    color: rgb(0, 150, 136);
    text-decoration: underline;
}

footer a:hover {
    color: rgb(0, 150, 136)
}

footer p {
    font-size: small;
    color: grey
}

li {
    padding-bottom: 10px;
}

h1 a {
    text-decoration: none;
    font-weight: normal;
}

h1 a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: black;
}

h1 i {
    color: black;
    text-decoration: none;
}

h5 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    padding: 3px;
    font-size: 30px;
}

.letter {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 5px;
}

.letter-header {
    font-family: rage;
}

.letter-cards {
    max-width: 400px;
    min-width: 250px;
    padding: 8px;
    opacity: .85;
}

.letter-cards:hover {
    opacity: 1;
}

.logo {
    float: left;
}